/* @font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    font-display:fallback;src: url(../../../themes/musicisho/./fonts/f.eot);
    src: url("../../../themes/musicisho/./fonts/f.eot?#iefix") format("embedded-opentype"),
    url(../../../themes/musicisho/./fonts/f.woff2) format("woff2"),
    url(../../../themes/musicisho/./fonts/f.woff) format("woff"),
    url(../../../themes/musicisho/./fonts/f.ttf) format("truetype")
} */

@font-face {
  font-family: iranyekan;
  src: url("../font/IRANYekanBoldFaNum.ttf");
}

body {
  font-family: iranyekan;
  overflow-x: hidden;
  background-color: #faf5f9;
}

.btn-purple {
  background-color: #330433;
  color: rgb(211, 211, 211);
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 175px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.5s;
}

.btn-purple:hover {
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.btn-yellow {
  background-color: #ffc000;
  color: #330433;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 175px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.5s;
}

.btn-yellow:hover {
  color: rgb(77, 77, 77);
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

ul li {
  list-style: none;
  padding: 5px 0;
  font-size: 14px;
  font-weight: normal;
  color: #041b33;
}

.diamond-list span {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: rgba(250, 97, 97, 1);
  position: relative;
  top: -23px;
  left: 10px;
}
.diamond-list span:after {
  content: "";
  position: absolute;
  left: -12px;
  top: 37px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: rgba(250, 97, 97, 1);
}

.diamond-list li:nth-child(2) span {
  border-bottom-color: rgba(250, 97, 97, 0.75);
}
.diamond-list li:nth-child(2) span:after {
  border-top-color: rgba(250, 97, 97, 0.75);
}

.diamond-list li:nth-child(3) span {
  border-bottom-color: rgba(250, 97, 97, 0.5);
}
.diamond-list li:nth-child(3) span:after {
  border-top-color: rgba(250, 97, 97, 0.5);
}

.diamond-list li:nth-child(4) span {
  border-bottom-color: rgba(250, 97, 97, 0.25);
}
.diamond-list li:nth-child(4) span:after {
  border-top-color: rgba(250, 97, 97, 0.25);
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  color: #041b33;
}

.counting-number {
  font-size: 44px;
  font-weight: normal;
  color: #041b33;
}

.number-text {
  font-size: 24px;
  font-weight: 300;
  color: #849bb2;
}

.carusel {
  font-size: 14px;
  font-weight: normal;
  color: #041b33;
}

.nav-item {
  font-size: 12px;
  font-weight: bold;
  color: #041b33;
}

.introduction-container p:nth-child(1) {
  font-size: 36px;
  font-weight: bold;
}
.introduction-container p:nth-child(2) {
  font-size: 26px;
  font-weight: 300;
}
.introduction-container p:nth-child(3) {
  font-size: 21px;
  font-weight: 300;
}
.introduction-container p:nth-child(4) {
  font-size: 16px;
  font-weight: 300;
}

.vertical-margin {
  margin-top: -50px;
  margin-bottom: -50px;
  z-index: 1;
}

.absolute-pink-bg{
  position: absolute;
  left: 0;
  max-width: 1000px;
  max-height: 1000px;
}

.absolute-yellow-bg {
    position: absolute;
    right: 0;
    max-width: 700px;
    max-height: 500px;
    top: 2026px;
}

@media (min-width: 1950px){
  .absolute-pink-bg{
 display: none;
}

  .absolute-yellow-bg{
 display: none;
}
}

@media (max-width: 994px){
  .absolute-yellow-bg{
   display: none;
  }
}

@media (max-width: 890px){
  .absolute-pink-bg{
   max-width: 800px; 
   max-height: 800px;
  }
}

@media (max-width: 700px){
  .absolute-pink-bg{
   max-width: 500px; 
   max-height: 500px;
  }
}

@media (max-width: 380px){
  .absolute-pink-bg{
   max-width: 450px; 
   max-height: 450px;
  }
}

.resize{
 -webkit-animation: resize1 1.5s infinite;
    animation: resize1 1.5s infinite;
}

@-webkit-keyframes resize1 {
    0% {
        -webkit-transform: scale(1) rotate(45deg);
                transform: scale(1) rotate(45deg);
                   
    }

    50% {
        -webkit-transform: scale(0.9) rotate(45deg);
                transform: scale(0.9) rotate(45deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(45deg);
                transform: scale(1) rotate(45deg);
    }
}
@keyframes resize1 {
    0% {
        -webkit-transform: scale(1) rotate(45deg);
                transform: scale(1) rotate(45deg);
    }

    50% {
        -webkit-transform: scale(0.9) rotate(45deg);
                transform: scale(0.9) rotate(45deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(45deg);
                transform: scale(1) rotate(45deg);
    }
}


/********************************************************************************/

#logo {
  max-width: 100px;
}

.top-model {
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.top-model-img {
  max-width: 800px;
}

#introduction {
  margin-top: 160px;
}

#running-campaigns {
  margin-top: 160px;
}

.running-campaigns-img {
  max-width: 400px;
}

#online-info {
  margin-top: 160px;
}

.online-info-img {
  max-width: 600px;
}

.padding-list {
  padding-right: 180px;
}

.video-play {
  width: 100px;
  height: 100px;
  border: 8px solid #330433;
  transform: rotate(45deg);
  background-color: #fa8080;
  box-shadow: 0 2px 10px rgba(0,0,0, 0.2);
}

#video-sec {
  margin-top: 160px;
}

.video-play {
  margin-top: 80px;
}

.video-play img {
  transform: rotate(190deg);
  width: 70px;
}

#adwised-services {
  margin-top: 160px;
}

.adwised-services-img {
  max-width: 600px;
}

#specialty-field {
  margin-top: 160px;
}

.specialty-field-img {
  max-width: 250px;
}

.web-app-text {
  margin-top: -13px;
  margin-bottom: 35px;
}

.minus-margin {
  margin-right: -40px;
  z-index: 2;
}

#customers {
  margin-top: 110px;
}

.customers-carousel {
  margin: auto;
}

.customer {
  width: 100px;
  height: 100px;
  background-color: #faf5f9;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  border: 3px solid #ffc4c4;
}

.customer img {
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
}

.customer-contents {
  padding: 20px 5px 12px;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-size: 12px;
}

#socials {
  margin-top: 160px;
  border-top: 2px solid #fa8080;
  padding-top: 80px;
}

#socials img {
  max-width: 70px;
}

.slick-track {
  height: 220px;
}

.slick-list {
  width: 89%;
  margin: auto;
}

.slick-center {
  transform: scale(1.2);
  z-index: 2;
}

/* .container {
  max-width: 900px;
} */

.social-icon {
  cursor: pointer;
}

video {
  width: 100%;
  height: 100%;
}

.close-video {
  font-size: 42px;
  position: absolute;
  right: 15px;
  top: 2px;
  color: #fff;
  z-index: 3;
}

.modal-sm > .modal-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

    .margin-10px{
        margin: -3px auto;
    }

 .purple-carusel{
     background: #33043385;
     color: #fff;
     display: flex;
     justify-content: space-around;
     border-radius: 10px;
     transform: scale(0.95);
     align-items: center;
     padding: 5px 0;
 }

 .left-side, .right-side, .midel-side{
     display: flex;
     align-items: center;
     font-size: 14px;
     width: 150px;
 }

  .left-side{
   flex: 0.32;
   justify-content: flex-start;
 }

 .midel-side{
   flex: 0.32;
   justify-content: center;
 }

 .right-side{
   flex: 0.65;
   justify-content: flex-end;
 }

.scale-up-center1 {
	-webkit-animation: scale-up-center1 6s ease-in-out infinite both;
	        animation: scale-up-center1 6s ease-in-out infinite both;
}

@-webkit-keyframes scale-up-center1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
    25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
}
@keyframes scale-up-center1 {
   0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
    25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
}


.scale-up-center2 {
	-webkit-animation: scale-up-center2 6s ease-in-out infinite both;
	        animation: scale-up-center2 6s ease-in-out infinite both;
}

@-webkit-keyframes scale-up-center2 {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
    50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    75% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
}
@keyframes scale-up-center2 {
   0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
    50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    75% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
}

.scale-up-center3 {
	-webkit-animation: scale-up-center3 6s ease-in-out infinite both;
	        animation: scale-up-center3 6s ease-in-out infinite both;
}

@-webkit-keyframes scale-up-center3 {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    50% {
   -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
    75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
}
@keyframes scale-up-center3 {
   0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
    50% {
  -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-background: #330433;
            background: #330433;
  }
    75% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-background: #33043385;
            background: #33043385;
  }
}

/**********************************/

@media only screen and (max-width: 980px) {
  body {
    overflow-x: hidden;
  }

  .padding-list {
    padding-right: 0px;
  }
  .top-model {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }

  .top-model-img {
    width: 100%;
    max-width: 1000px !important;
  }

  .navbar {
    background-color: #ffdede;
  }

  .online-info-img {
    max-width: 400px;
  }
  .adwised-services-img {
    max-width: 400px;
  }

  .running-campaigns-img {
    max-width: 400px;
  }

  .counting-number {
    font-size: 35px;
    font-weight: normal;
    color: #041b33;
  }

  .list-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .diamond-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .small-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .navbar-nav{
    display: flex;
    flex-direction: column-reverse;

  }


}

@media only screen and (max-width: 700px){
.adwised-services-img {
    max-width: 300px;
}
.running-campaigns-img {
    max-width: 300px;
}
.specialty-field-img {
    max-width: 190px;
}

.number-text {
    font-size: 15px;
}

.counting-number {
    font-size: 30px;
}

.introduction-container p:nth-child(2) {
    font-size: 23px;
}

.introduction-container p:nth-child(3) {
    font-size: 18px;
}

.introduction-container p:nth-child(4) {
    font-size: 13px;
}

#running-campaigns {
    margin-top: 60px;
}

 .left-side, .right-side, .midel-side{
     display: flex;
     align-items: center;
     font-size: 12px;
     width: 90px;
 }

.section-title {
    font-size: 18px;
}

#video-sec {
  margin-top: 100px;
  text-align: center;
}

#adwised-services {
    margin-top: 100px;
}

#customers {
    margin-top: 100px;
}

#introduction {
    margin-top: 50px;
}

.list-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.customer {
    width: 70px;
    height: 70px;
}

.customer img {
    max-width: 40px;
}
#socials {
    margin-top: 50px;
}

.customer-contents {
    padding: 20px 4px 8px;
}

#online-info {
    margin-top: 100px;
}

#specialty-field {
    margin-top: 100px;
}

}


@media only screen and (max-width: 700px){
.introduction-container p:nth-child(2) {
    font-size: 20px;
}

.introduction-container p:nth-child(3) {
    font-size: 15px;
}

ul li {
    font-size: 11px;
}

.diamond-list span:after {
  top: 31px;
}

.section-title {
    font-size: 16px;
}

.specialty-field-img {
    max-width: 165px;
}

.counting-number {
    font-size: 25px;
}

}

@media (max-width: 1200px) and (min-width: 992px){
  .navbar {
    background: rgba(255,255,255,0.7);
}
}
